.carousel-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 67vh;
    /* Make the container take up the full viewport height */
  }
  
  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(11, 19, 43, 0.7);
  
  
    width: 100%;
    height: 100%;
  
    z-index: 1;
  }
  
  .main-img {
  
  
    display: block;
  
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure the image covers the entire container */
  }
  
  .hero-section {
    background-color: transparent;
    box-shadow: transparent;
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: absolute;
    /* Change to absolute positioning */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the element */
    z-index: 2;
    max-width: 900px;
    /* Ensure the hero section doesn't exceed this width */
    width: 90%;
    /* Ensure responsiveness */
    color: white;
  }
  
  .h5,
  h5 {
    font-size: 1rem;
  }
  
  .h1,
  h1 {
    font-size: calc(3.375rem + 1.5vw);
  }
  
  .hero-btn1,
  .hero-btn2 {
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
    margin-top: 21px;
  }
  
  .hero-btn1 {
    border: #1CB6F3;
    background-color: rgb(28, 182, 243);
  }
  
  .hero-btn1:hover {
    background-color: rgb(31, 183, 243);
    /* Lighter blue background on hover */
    color: black;
    /* White text color on hover */
    transition: all 0.5s ease-out;
    /* Smooth transition for all properties */
    font-family: 'Nunito', sans-serif;
    /* Font family */
    font-weight: 600;
    /* Font weight */
  }
  
  .hero-btn2:hover {
    background-color: white;
    /* Lighter blue background on hover */
    color: black;
    /* White text color on hover */
    transition: all 0.5s ease-out;
    /* Smooth transition for all properties */
    font-family: 'Nunito', sans-serif;
    /* Font family */
    font-weight: 600;
    /* Font weight */
  }
  /*---------------------------------------------contact---------------------------------------  */
  .contactpage-section {
    margin-top: 107px;
}

.contactpage-info {
    display: flex;
    gap: 100px;
}

.contactpage-div {
    padding: 37px;
}

.contactpage-form-location {
    display: flex;
    padding: 49px 0px;
}

/* info--------------------- */
.contactpage-phone {
    display: flex;
    color: rgb(34, 32, 32);
    font-size: 1.5rem;
    font-weight: 500;
    gap: 18px;
    padding-top: 33px;
}

.contactpage-phone-num h5 {
    color: rgb(34, 32, 32);
    font-size: 1.5rem;
    font-weight: 400;
}

.contactpage-phone-num h4 {
    color: #1CB6F3;
}

.contactpage-cell {
    background-color: #1CB6F3;
    padding: 13px;
    height: 62px;
    width: 52px;
}

.contactpage-cell i {
    color: #fff;
}

/* form-------------------- */
.contactpage-Request-form {
    display: block;
    color: #0B132B;
    width: 100%;
    height: auto;
    padding: 0px 42px 0px 0px;
    border-radius: 0px;
}
.contactpage-form{
    width: 50%;
}
.contactpage-Request-form h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #0B132B;
}

.contactpage-Request-form-upper {
}

.contactpage-Request-major-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: transparent;
    padding: 0;
    border-radius: 0px;
    box-sizing: border-box;
}

.contactpage-Request-form-ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 7px;
}

.contactpage-Request-form-li {
    margin-bottom: 20px;
    width: 100%;
}

input,
select,
textarea,
.contactpage-request-button {
    width: 100%;
    display: block;
    margin-bottom: 0rem;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1rem;
    border: 1px solid transparent;
    padding: 0.75rem;
    color: #333;
    border-radius: 3px;
    background-color:#ddf2fa;
}

input::placeholder,
textarea::placeholder {
    color: #888;
}

textarea {
    resize: none;
    height: 150px;
}

input:focus,
select:focus,
textarea:focus {
    background-color: #98cbe9;
    color: #052538;
    border-color: #052538;
    outline: none;
}

.contactpage-request-button {
    color: #ffffff;
    border: none;
    background-color: #1cb6f3;
    font-size: 1.1rem;
    border-radius: 5px;
    padding: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    transition: background-color 0.3s ease;
    margin-top: 16px;
}

.contactpage-request-button:hover {
    background-color: #186b8b;
}

.hidden-label {
    display: none;
}
.location .iframe{
    width: 100%;
}
.contactpage-form-location {
    display: flex;
    justify-content: space-between;
    padding: 49px 0px;
}

.contactpage-form, 
.contactpage-location {
    width: 50%;
    box-sizing: border-box;
}

.contactpage-location iframe {
    width: 100%;

}
/* -----------------------------media quesry================== */
@media (max-width:976px) {
    .contactpage-form-location{
        flex-direction: column;
    }
    .contactpage-info{
        flex-direction: column;
        gap: 0px;
    }
    .contactpage-Request-major-form{
        margin: 0px;
        max-width: 100%;
        padding-bottom: 40px;
    }
    .contactpage-form, .contactpage-location{
        width: 100%;
    }
    .contactpage-Request-form{
        padding: 0px;
    }
    .contactpage-div{
        padding: 37px 100px;
}


    }
    @media (max-width:779px) {
        .contactpage-div{
            padding: 37px 47px;
    }
    }
    @media (max-width:449px) {
        .contactpage-div{
            padding: 20px 20px;
    }
    }
    
    @media (max-width:276px) {
.contactpage-phone-num h5{
font-size: 16px;
}
.contactpage-phone-num h4{
    font-size: 14px;
    }
    .logo {
        font-size: 1.5rem;
    }

}
@media (max-width:211px) {
    .contactpage-phone-num h5{
    font-size: 16px;
    }
    .contactpage-phone-num h4{
        font-size: 14px;
        }
        .contactpage-cell{
            padding: 8px;
    height: 56px;
    width: 35px;
}
.contactpage-cell i{
font-size: 16px;
}
.contactpage-phone{
    gap: 7px;
}

        }
    
        @media (max-width: 887px) {



            .nav-divupper {
              display: none;
              flex-direction: column;
              width: 100%;
            }
          
            .nav-divupper.open {
              display: flex;
            }
            .nav-div1 a {
                font-weight: 600;
                display: flex;
                flex-direction: row;
                color: #0B132B;
                padding: 10px 0;
              }
              .nav-div1 a{
                padding: 5px 0px;
              }
              .nav-div1 > div .dropdown-content-1{
              font-size: 14px;
              }
              .nav-div1{
                font-size: 16px;
              }
          
          }